# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE
.idea
.vscode

# Binaries and build artifacts
bin/
tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment files
.env
*.env

# Logs
*.log

# Test files
*_test.go 

icons/